apiVersion: apps/v1
kind: Deployment
metadata:
  name: lambda-rpc-deployment
  labels:
    app: lambda-rpc
spec:
  replicas: 3
  selector:
    matchLabels:
      app: lambda-rpc
  template:
    metadata:
      labels:
        app: lambda-rpc
    spec:
      containers:
        - name: lambda-rpc
          image: edouard127/lambda-rpc:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: 32Mi
              cpu: 100m
            limits:
              memory: 64Mi
              cpu: 200m
---
apiVersion: v1
kind: Service
metadata:
  name: lambda-rpc-service
  labels:
    app: lambda-rpc
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: lambda-rpc
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lambda-rpc-ingress
  namespace: public
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - lambda-client.org
      secretName: cert-manager-certification-lambda-client
  rules:
    - host: rpc.lambda-client.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: lambda-rpc-service
                port:
                  number: 80
