name: Run Tests

on:
  push:
    branches:
      - '**'
        
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.1.1
        
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23.1
          check-latest: true
            
      - name: Install swagger
        run: |
          go get -v -u github.com/swaggo/swag/cmd/swag
          go install github.com/swaggo/swag/cmd/swag
            
      - name: Generate code
        run: go generate ./...
        
      - name: Run tests
        run: go test -v ./...