name: Golang Test Runs

on:
  push:
    branches:
      - '**'
        
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23.1
          check-latest: true
          cache-dependency-path: |
            go.sum
      - name: Run tests
        run: go test -v ./...