name: Golang Test Runs

on:
  push:
    branches:
      - '**'
        
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23.1
          check-latest: true
          cache-dependency-path: |
            go.sum
            
      - name: Install dependencies
        run: |
          go get -v -u github.com/swaggo/swag/cmd/swag
          export PATH=$(go env GOPATH)/bin:$PATH
            
      - name: Generate code
        run: go generate ./...
        
      - name: Run tests
        run: go test -v ./...